*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black-bg        : rgba(0, 0, 0, 0.415); ;
    --white-bg        : rgba(255, 255, 255, 0.456);
    --hover-color     :rgba(198, 199, 198, 1);
    --highlight-color : rgb(127, 255, 212);;

}

body{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.board{
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    /* border: 3.5px solid black ; */
    border-radius: 5px;
    /* box shadow will look good */
}

.row{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.cell{
    background-color: rgba(0, 0, 0, 0.66);
    border: 1px solid black ;
    position: relative;
    display: grid;
    place-items: center;
}

.dark{
    background-color: var(--black-bg);
}

.light{
     background-color: var(--white-bg);
}


.highlight{
    position: relative;
}

.highlight::before{
    content: '';
    width: 50%;
    height: 50%;
    background-color: var(--highlight-color);
    rotate: 45deg;
    position:absolute;
}

.highlight[data-coin-name]::before{
    width: 100%;
    height: 100%;
    rotate: 0deg;
    z-index: 0;
}




[data-coin-name]::before{
    content: '';
    width: 40px;
    height: 40px ;
    position: absolute;
}

[data-coin-name="rook"][data-coin-color="black"]::before{
    background-image: url(/images/black/rook.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="bishop"][data-coin-color="black"]::before{
    background-image: url(/images/black/bishop.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="knight"][data-coin-color="black"]::before{
    background-image: url(/images/black/knight.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="king"][data-coin-color="black"]::before{
    background-image: url(/images/black/king.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="queen"][data-coin-color="black"]::before{
    background-image: url(/images/black/queen.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="pawn"][data-coin-color="black"]::before{
    background-image: url(/images/black/pawn.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

/* white coins */
[data-coin-name="rook"][data-coin-color="white"]::before{
    background-image: url(/images/white/rook.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="bishop"][data-coin-color="white"]::before{
    background-image: url(/images/white/bishop.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="knight"][data-coin-color="white"]::before{
    background-image: url(/images/white/knight.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="king"][data-coin-color="white"]::before{
    background-image: url(/images/white/king.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="queen"][data-coin-color="white"]::before{
    background-image: url(/images/white/queen.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}

[data-coin-name="pawn"][data-coin-color="white"]::before{
    background-image: url(/images/white/pawn.png);
    background-position: center;
    background-size: contain;
    z-index: 0;
}
